*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

a{
	text-decoration: none;
}
html,
body {
	height: 100%;

}
body {
	line-height: 1;
	font-family: 'Inter';
	color: #656464
}
input{
	outline: none;
}
.title{
	color: #0A093D;
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
}
/*?------------------------------- */
.page{
	flex: 1 1 auto;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
[class*="__container"]{
	max-width: 1170px;
	margin: 0 auto;
}
@media (max-width: 1199.98px) {
	[class*="__container"]{
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	[class*="__container"]{
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	[class*="__container"]{
		max-width: none;
		padding: 0 15px;
	}
}

/*?----HEADER----------------------------- */

.header {
	padding-top: 30px;
	padding-bottom: 26px;
	/* height: 43px; */
	border-bottom: 1px solid #D4E7FE;
}
.header__container {
	display: flex;
	justify-content: space-between;
}
.header__logo {
	padding-right: 72px;
}
.logo__menu{
	display: flex;
	align-items: center;
  	justify-content: flex-start;
}
.menu__list {
	display: flex;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.01em;
	column-gap: 32px;
	row-gap: 10px;
}
.menu__link {
	color: #656464;
}
.menu__link:hover {
	color: #2B2B39;
	text-decoration: underline;
}
.menu__input{
	background: url(images/search.svg) 0px 20px no-repeat;
	margin-right: 42px;
	width: 105px;
	height: 50px;
	border-bottom: 1px solid #E5E5E5;
	padding-left: 15px;
}
.menu__input::placeholder{
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* text-align: center; */
	color: #686868;
	
}
.header__menu__button-input{
	text-align: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.button {
	background: #217BF4;
	box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
	border-radius: 14px;
	padding: 18px 43px;
	color: #fff;
}
@media (max-width: 992px) {
	.header__container {
	display: flex;
	align-items: center;
	justify-content: center;
	}
	.header__menu__button-input{
		display: none;
	}
}
@media (max-width: 576px) {
	.menu__list {
		display: none;
	}
	.header__logo {
		padding: 0;
	}
	}


/*?----HEADER----------------------------- */


